<div ng-controller="IHMAccueilCtrl as vma" aria-hidden="true" role="dialog" class="modal-dialog dialog no-select" id="acceuil">

		<div>
			<div class="modal">
				<div class="inner-dialog">
					
        ... ACCUEIL : Votre contenu avec balisage HTML ...
       
				</div> <!-- /inner-dialog -->

			</div> <!-- /modal -->
			<div class="footer-modal">
				<div class="footer-modal">
					<a href="#close" class="help no-select ripple">Fermer</a> 
					<a href="#open-modal-aide" class="link no-select ripple">Aide</a>
				</div> <!-- /footer-modal -->
			</div> <!-- /footer-modal -->
		</div>
 </div> <!-- /modal-dialog -->