<div ng-controller="IHMAideCtrl as vma" aria-hidden="true" role="dialog" class="modal-dialog dialog no-select" id="aide">

		<div>
			<div class="modal">
				<div class="inner-dialog">
					
        ... IHMAideCtrl : Votre contenu avec balisage HTML ...
       
				</div> <!-- /inner-dialog -->

			</div> <!-- /modal -->
			<div class="footer-modal">
					<a ng-href="index.html" class="help no-select ripple">Fermer</a> 
					<a href="#open-modal-aide" class="link no-select ripple">Aide</a>
			</div> <!-- /footer-modal -->
		</div>
 </div> <!-- /modal-dialog -->
