<div ng-controller="USRUtilisateurController as vmu" aria-hidden="true" role="dialog" class="modal-dialog dialog no-select" id="profil">

		<div>
			<div class="modal">
				<div class="inner-dialog">
					
        ... PROFIL : Votre profil ici prochainement ...

	        	<article>
					<image ng-src="models/images/{{vmu.image_img}}">
					<h1>{{vmu.nom_str}} {{vmu.prenom_str}}</h1>

<!-- 					<p>Activité : {{vmu.donnees.nom_str}}</p>
					<p>Date : {{vmu.donnees.dateDebut_dat}}</p> -->
					<a ng-href='annonces'/>liste<a/>
					<a ng-href='accueil'/>accueil<a/>
				</article>
       
				</div> <!-- /inner-dialog -->

			</div> <!-- /modal -->
			<div class="footer-modal">
				<div class="footer-modal">
					<a href="#close" class="help no-select ripple">Fermer</a> 
					<a href="#open-modal-aide" class="link no-select ripple">Aide</a>
				</div> <!-- /footer-modal -->
			</div> <!-- /footer-modal -->
		</div>
 </div> <!-- /modal-dialog -->