<aside class="" id="info">
    <a href="#!" title="Réduire" class="close squizz" id="close"><em>⤰</em></a>
    <h2>Chat</h2>
    <ul id="chat">
      <li><span>Bob l'éponge :</span><p>Boujour ;)</p></li>
      <li><span>Patrick :</span><p>Yo :)</p></li>
      <li><span>Bob l'éponge :</span><p>Sa va ?</p></li>
      <li><span>Patrick :</span><p>Trop !</p></li>
      <li><span>Bob l'éponge :</span><p>Pour koi ?</p></li>
      <li><span>Patrick :</span><p>Paske :D</p></li>
    </ul>
    <form method="post" action="">
      <input type="text" name="" value="" placeholder="Saisissez votre message&hellip;" />
      <button class="button btn-flat button-green ripple-in">Envoyer</button>
    </form>
  </aside>
