<!-- CONNEXION -->

		<div aria-hidden="true" role="dialog" class="modal-dialog dialog tiny no-select" id="open-modal-connexion">
			<div>
				<div class="modal">
					<div class="inner-dialog">



						<a href="" title="Fermer" class="close squizz"><i class="fa fa-times" aria-hidden="true"></i><em>×</em></a>
						<h3 class="gris">Se connecter</h3>
						<form method="post" action="/">
							<label for="email-input">Email :</label>
							<input type="email" required="" name="emailinput" value="" placeholder="Votre adresse email" id="email-input">
							<label for="password">Mot de passe :</label>
							<div class="flex">
								<input type="password" required="" name="password" value="" minlength="8" placeholder="Votre mot de passe DISPAU" class="password" id="password">
								<button type="button" title="Révéler la saisie masquée par appui long" id="eye"><i class="fa fa-eye-slash" aria-hidden="true"></i><em>👁</em></button>
							</div> <!-- /flex -->
							<span class="full inblock txt-right gris"><a href="#open-modal-mot-passe-oublie" title="Retrouver un mot de passe" class="gris">Mot de passe oublié</a> ?</span>
							<button class="button btn-flat button-green full ripple-in"><span>Confirmer</span></button>
						</form>




					</div> <!-- /inner-dialog -->

				</div> <!-- /modal -->
			</div>
		</div> <!-- /open-modal-connexion -->

  <!-- FIN CONNEXION -->
