<!-- MOT PASSE OUBLIE -->

<div aria-hidden="true" role="dialog" class="modal-dialog dialog tiny no-select" id="open-modal-mot-passe-oublie">

	<div>
		<div class="modal">
			<div class="inner-dialog">
				<a href="#!" title="Fermer" class="close squizz"><i class="fa fa-times" aria-hidden="true"></i><em>×</em></a>
				<h3 class="gris">Récupération de mot de passe</h3>
				<form method="post" action="">
					<label for="user">Pseudonyme :</label>
					<input type="text" required="" name="pseudo" value="" placeholder="Votre pseudonyme DISPAU" id="user">
					<label for="email">Adresse email :</label>
					<input type="email" required="" name="email" value="" placeholder="Votre adresse email" class="email" id="email">
					<button class="button btn-flat button-green full ripple-in"><span>Obtenir</span></button>
				</form>

			</div> <!-- /inner-dialog -->

		</div> <!-- /modal -->
	</div>
</div> <!-- /open-modal-mot-passe-oublie -->

<!-- FIN MOT PASSE OUBLIE -->
