<!-- PROFIL -->

<div aria-hidden="true" role="dialog" class="modal-dialog no-select" id="open-modal-profil">
	<div>
		<div data-simplebar="" class="modal">
			<div class="inner-dialog">
				<div class="outer">
					<img src="upload/68.jpg" alt="Melane" />
					<div class="inner">
						<h2 class="txt-center">Melane</h2>
					</div>
				</div>
				<h2 class="gris">Mon Profil</h2>

				<form method="post" action="">

					<div class="row">
						<div class="c-2">

                (...)

						</div> <!-- /c-2 -->
					</div> <!-- /row -->
					<div class="row">
						<a href="#open-modal-profil-editer" class="button btn-flat button-green ripple-in">Modifier</a>
					</div>
				</form>

			</div> <!-- /inner-dialog -->

		</div> <!-- /modal -->

		<div class="footer-modal">
			<a href="#open-modal-aide" class="link no-select ripple">Aide</a><a href="#!" class="help no-select ripple">Fermer</a>
		</div>
	</div>
</div>

<!-- FIN PROFIL -->
