<div ng-controller="ANNAnnonceController as vm" aria-hidden="true" role="dialog" class="modal-dialog dialog no-select" id="inscription">

    <div>
        <div class="modal">
            <div class="inner-dialog">

                ID: {{vm.model.id_nb}}
                Nom: {{vm.model.nom_str}}

            </div> <!-- /inner-dialog -->

        </div> <!-- /modal -->
        <div class="footer-modal">
            <a ng-href="index.html" class="help no-select ripple">Fermer</a>
            <a href="#open-modal-aide" class="link no-select ripple">Aide</a>
        </div> <!-- /footer-modal -->
    </div>
</div> <!-- /modal-dialog -->
