@charset "UTF-8";

/**
 * Modèle web version "Responsive" pour DISPAU
 * Largeur maximale : 1280px centree avec Google Map en fond et plein ecran
 *
 * Version de developpement ; en production minifier ce fichier dans css/global.min.css avec http://www.minifier.org/
 *
 * @date     30/04/2017
 * @revision 04/05/2017
 * @authors  Patrick ; ...
 *
 */

/* Importation/chargement des @font-face en premier pour optimisation */
@import url(font-awesome.min.css);
/* importation de Normalize v6.0.0 */
@import url(normalize.min.css);

/*!
 * ====== SOMMAIRE ======
 *
 * 1°.  Micro resets & dimensions
 * 2°.  Helpers
 * 3°.  Typos
 * 4°.  Couleurs
 * 5°.  Layout
 * 6°.  Google Maps
 * 7°.  Menu general de navigation
 * 8°.  Systeme de Grilles
 * 9°.  Formulaires & fenetres modales
 * 10°. Animations
 * 11°. WTF?
 * 12°. Media Queries
 *
 *
 * NB : il est fait profit du principe de cascade en CSS pour abolir la regle !important (veiller a maintenir cette precaution)
 *
 */

/*! 1°) Micro resets & dimensions
	=============== */

html,
	body {
		height: 100%;
		margin: 0
}

.wrapper {
	/* la marge basse est la valeur negative correspondante a la hauteur du footer plus celles top & bottom des paddings de footer-inner */
	margin: 0 auto -100px
}

header,
	header .mask,
	/* Le logo deborde la barre du header */
	.header-inner {
			height: 5.7em
}

/* Largeur maximale des elements centres sur grands ecrans (le reste, autour, demeure en pleine largeur [la Map]) */
.header-inner,
	.content,
	.footer-inner {
	max-width: 1280px
}

#map {
	/* Fallback */
	height: auto;
	min-height: 430px;
	min-height: 100%
}

.push,
	.footer {
	/* '.push' doit avoir la meme hauteur que 'footer' */
	height: 100px
}

.footer-inner {
	/* Top & bottom padding en pixels a deduire de la hauteur voulue de footer-inner */
	height: 50px
}

/*! 2°) Helpers 
	================ */

/* Positionnement */
.fixed {position: fixed}
.static {position: static}
.relative {position: relative}
.absolute {position: absolute}
/* Flotement */
.left {float: left}
.right {float: right}
/* cacher un element */
.hidden {
	display: none;
	width: 0;
	margin: 0;
	padding: 0
}
/* Masquer du texte */
.indent {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	font-size: 0
}
/* Suppression de la selection a la souris */
.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.full { width: 100% }
.inblock{ display: inline-block }
/* Creer un systeme de marges et paddings au besoin 
.mt5 {margin-top: 5em}
*/
/* Positionner du texte */
.txt-center{text-align: center}
.txt-right{text-align: right}
/* Micro clearfix par Nicolas Gallagher */
.cf:before,
	.cf:after {
	content: " ";
	display: table
}
.cf:after {clear: both}
.cf {*zoom: 1}

/*! 3°) Typos 
	================ */

html,
	body {
		font: normal normal normal 100%/1 sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility
}

h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding: 0
}

p {
	line-height: 1.3;
	hyphens: auto
}

/*! A) Masque les icones Fontawsome non encore chargees pour affichage du fallback */

html:not(.wf-active) .fa {display: none}

/*! Fallback textuel de Fontawsome */
.social em {
	margin: 0 .5em;
	font-style: normal;
	font-size: large
}

/* B) Google fonts chargees */

/* Masque les alternatives textuelles sur les icones sociales */
.wf-active .social em,
	.wf-active .fa + em {display: none}

.wf-active h1,
	.wf-active h2,
	.wf-active h3 {
		margin: 0
}

ul {line-height: 2em}

.close {
	font: normal normal normal 1.3em/1.5em Arial,sans-serif
}

.modal-dialog,
	form {
	font-family: 'Roboto', Arial, Helvetica, sans-serif
}

.social .fa {
	font-size: 2em
}

/*! 4°) Couleurs

		Rouge :      #e6005c		rgb(230, 0, 92)
		Bleu :       #7ac9ed		rgb(122, 201, 237)
		Bleu vert :  #dff4f3		rgb(223, 244, 243)
		Bistre :     #95405a		rgb(149, 64, 90)
		Orange :     #ef6c00		rgb(239, 108, 0)
		Vert   :     #00897b		rgb(0, 137, 123)
		Blanc :      #fff			rgb(255, 255, 255)
		Noir :       #000			rgb(0, 0, 0)
		Gris :		 #999			rgb(161, 161, 161)
		Gris clair : #a1a1a1		rgb(153, 153, 153)	

	================ */

/* Selection de texte a la souris */
::-moz-selection {
	background: #e6005c;
	color: #fff;
	text-shadow: none
}

::selection {
	background: #e6005c;
	color: #fff;
	text-shadow: none
}

.gris { color: #999 }

.main-header {
	/* Fallback */
	background: #7ac9ed;
	background: rgba(122, 201, 237, 0.7)
}

header .mask {background: #7ac9ed}

header h1 a {color: #e6005c}

#map {background: #eee}

.close {
	background: #eee;
	color: #d4d4d4
}

.close:hover {
	background: #fff;
	color: #999;
	box-shadow: 0 0 10px rgba(0,0,0,.3)
}

.modal-dialog {
	/* Au choix : fond noir */
	background: rgba(0, 0, 0, 0.8);
	/* ...ou blanc */
	background: rgba(255,255,255,.5)
}

.modal-dialog .modal {
	background: #fff;
	/*
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
	*/
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 
				0 11px 15px -7px rgba(0, 0, 0, 0.12), 
				0 24px 38px 3px rgba(0, 0, 0, 0.2)
}

.footer-modal {
	background: #42a5f5 /*cornflowerblue*/;
/*
	box-shadow: 0 14px 35px rgba(0, 0, 0, 0.3);
*/
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
				0 3px 14px 2px rgba(0, 0, 0, 0.12),
				0 5px 15px 10px rgba(0, 0, 0, 0.1)
				/*
				0 5px 5px -3px rgba(0, 0, 0, 0.3)
				*/
}

.footer-modal a,
	.footer-inner a {color: #fff}

input:focus {border-bottom: 1px solid #333}

select {
	/* Fallback */
	color: #000;
	color:rgba(0, 0, 0, 0.7);
 /*
	background-color: #dff4f3
*/
}

footer {
	/* Fallback */
	background: #95405a;
	background: rgba(149, 64, 90, 0.85);
	color: #fff
}

.social .fa {color: #000}



/*! 5°) Layout 
	================ */

.wrapper {
	min-height: 100%;
	/* Pour vieux navigateurs IE */
	height: auto !important;
	/* Pour navigateurs modernes */
	height: 100%
}

header {
	position: relative;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%
}

/* Bloc opaque du header sur partie gauche du logo */
header .mask {
	display: block;
	top: 0;
	left: 0;
	width: 3%;
	min-width: 46px
}

header .logo {
	width: 96px;
	height: 140px;
	background: url(../img/dispau_logo.png) center center no-repeat
}

header .header-inner h1 {margin: .85em 0 0}

header h1 a {text-decoration: none}

.header-inner {margin: 0 auto}

.content {
	position: relative;
	z-index: 1;
	width: 100%;
	/* Marge top négative pour positionnement sur le haut du header */
	margin: -5.7em auto 0;
	/* Marge sur le contenu central pour obtenir une hauteur identique a celle de Map et le footer conserve sa visibilite :
	valeur cherchee 2em soit 5em : [-3em (marge top) + 3em] = 0 + 2em 
	margin-bottom: 5em;
	*/
	/* width 90% + [5% x 2 (padding gauche & droit)] = 100% 
	padding: 2em 5% 0
	*/
}

.footer,
	.push {
		clear: both;
		position: relative;
		margin: 0
}

footer {z-index: 1}

.footer-inner {
	margin: 0 auto;
	padding: 20px 1em
}

/*! 6°) Google Maps
	============ */

#map {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%
/*
	No more needed, Dude!
	min-height: calc(100vh - 75px)
*/
}

/* Masque certains affichages propres a Google Map	*/
a[href^="https://maps.google.com/maps?"],
	a[href^="https://www.google.com/intl/fr_US/help/terms_maps.html"] {display: none!important}

/*! Menu navigation 
	================ */

.top-menu {
	float: right;
	width: auto;
	min-width: 450px;
	max-width: 45em;
	margin: .5em 0 0 0
}

.top-menu ul {
	display: block;
	float: right;
	margin: .8em 0 0;
	padding: 0;
	list-style: none
}

.top-menu li {
	display: inline;
	float: left;
	padding: 0 .5em;
	line-height: 2.9
}


/* Icone de fermeture des modales */
.close {
	position: absolute;
	top: .2em;
	right: .5em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	text-decoration: none
}

.close:focus {
	outline: none
}

/*! Fenetres modales 
    ============ */

.modal-dialog:target {
	/*
	opacity:1;
	*/
	display: block;
	pointer-events: auto
}

.modal-dialog {
	/*
	opacity:0;
	*/
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none
}

.modal-dialog .modal {
	overflow-y: scroll;
	position: relative;
	max-width: 900px;
	min-width: 250px;
	width: 80%;
	max-height: 200px;
	/* Bizarrement, 80vh excede */
	max-height: 60vh;
	margin: 11% auto;
	margin: 15vh auto;
/* Pas de padding : a reserver pour un element d'encapsulation interne 
	padding: 5px 20px 13px 20px;
*/
	border-radius: 2px 2px 0 0
}

.modal-dialog.tiny .modal {
	max-width: 400px
}

.modal-dialog.dialog .modal {overflow: hidden}

.modal-dialog .close {display:none}

.modal-dialog.dialog .close {display:block}

.modal-dialog > div {
	position: relative;
	max-width: 900px;
	min-width: 250px;
/*
	width: 80%;
*/
	margin: 0 auto
}

.modal-dialog .inner-dialog {
	/* Semble etre on necessaire
	max-height: 100%;
	max-height: 100vh;
	height: 90%;
	*/
	padding: 5px 20px 5px 20px
}

.footer-modal {
	overflow-y: hidden;
	position: absolute;
	right: 0;
    bottom: -50px;
    left: 0;
    max-width: 910px;
    min-width: 250px;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border-radius: 0 0 2px 2px
}

.footer-modal a {
	float: right;
	padding: 1.1em 2em 1.1em;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	outline: none;
/* Ou ajouter la classe 'no-select' sur l'element */
	-webkit-tap-highlight-color: transparent;
}

.footer-modal a:hover {background: rgba(0, 0, 0, 0.2)}

.modal-dialog.dialog .footer-modal {display: none}

/* Formulaires */

label {
	display: block;
	margin: 0 0 .5em;
	color: #a1a1a1;
	cursor: pointer
}

form {
	margin: 2em 0
}

input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="file"],
	textarea,
	select {
		width: 96%;
		margin: 0 0 .8em;
		padding: .1em 1% .3em;
		border: none;
		border-bottom: 1px solid #bbb;
		font-size: 1em;
		font-family: inherit;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none

}
/*
input[type="password"] {
	padding: .01em 1%;
	font-size: larger
}
*/
input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	select:focus{
		outline: none
}

select {
	min-width: 101.5%;
	background-image: url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-position: calc(100% - .5em) 50%;
	text-indent: 0.01px;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

input.password {
	float: left;
	width: 85%
}

input.password + button {
	float: right;
	width: 1.8em;
	background: none;
	border: none;
	line-height: 1.8;
	outline:none;
	-webkit-tap-highlight-color: transparent

}
/* Ne fonctionne pas : a corriger 
input:invalid {
	box-shadow: 0 0 2px 1px red
}

input:valid {
   box-shadow: 0 0 2px 1px green
}
*/
/*
input:-moz-submit-invalid {
	border-bottom: 1px solid red;
	box-shadow: none
}

input:-moz-ui-invalid {
	border-bottom: 1px solid red;
	box-shadow: none
}
*/

/* Boutons */

.btn,
	.btn-large {
		background-color: #26a69a;
		color: #fff;
		text-decoration: none;
		text-align: center;
		letter-spacing: .5px;
		cursor: pointer;
		transition: .2s ease-out;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent
}

.btn,
	.btn-flat {
		display: inline-block;
		height: 26px;
		padding: 7.2px 24px 8.5px;
		padding: .45rem 1.5rem .55rem;
		vertical-align: middle;
		text-transform: uppercase;
		text-decoration: none;
		color: #333;
		line-height: 26px;
		outline: none;
		border: none;
		border-radius: 2px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
}

.btn-large {
    height: 54px;
    line-height: 54px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}

.button-orange {
  background: #ef6c00;
  color: #fff;
}

.button-green {
  background: #00897b /* #00bfa5*/;
  color: #fff;
}

button.button {
  display: table;
  height: auto;
  margin: 1em auto .5em;
  cursor: pointer
}



.social .fa {
	margin: 0 .5em 0 0;
	vertical-align: middle
}

/* Animations ============
 */

.modal-dialog {
	-webkit-transition:opacity 400ms ease-in;
	-moz-transition:opacity 400ms ease-in;
	transition:opacity 400ms ease-in
}

.squizz {
	-moz-transition: box-shadow 200ms ease-out, -moz-transform 200ms ease-out, opacity 200ms ease-in-out;
	-o-transition: box-shadow 200ms ease-out, -o-transform 200ms ease-out, opacity 200ms ease-in-out;
	-webkit-transition: box-shadow 200ms ease-out, -webkit-transform 200ms ease-out, opacity 200ms ease-in-out;
	transition: box-shadow 200ms ease-out, transform 200ms ease-out, opacity 200ms ease-in-out
}

.squizz:hover {
	/* Le "Fallback" est : icone grise sur fond blanc */
	color: rgba(255, 255, 255, 1);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	background: rgba(230, 0, 92, 1)
}

@-webkit-keyframes ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0
	}
}

@keyframes ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0
	}
}

.ripple-out {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent
}

.ripple-out:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: transparent solid 6px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s
}

.button-green.ripple-out:hover:before,
	.button-green.ripple-out:focus:before,
	.button-green.ripple-out:active:before {
	border-color: rgba(0, 137, 123, 0.5);
	-webkit-animation-name: ripple-out;
	animation-name: ripple-out
}

.button-orange.ripple-out:hover:before,
	.button-orange.ripple-out:focus:before,
	.button-orange.ripple-out:active:before {
		border-color: rgba(239, 108, 0, 0.5);
		-webkit-animation-name: ripple-out;
		animation-name: ripple-out
}

/* Personnalisation des scrool bars sur moteur WebKit */

.modal::-webkit-scrollbar { width: 6px; height: 3px}
/* bouton haut et bas */
.modal::-webkit-scrollbar-button {  background-color: #666}
.modal::-webkit-scrollbar-track {  background-color: #999}
/* Fond du scroll bar */
.modal::-webkit-scrollbar-track-piece { background-color: #fff}
/* La barre de defilement */
.modal::-webkit-scrollbar-thumb { height: 50px; background-color: #999; border-radius: 3px}
.modal::-webkit-scrollbar-corner { background-color: #999}
.modal::-webkit-resizer { background-color: #666}

/* Version plus simple :
.modal::-webkit-scrollbar {
	background: lightyellow;
	width: 6px
}
.modal::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px
}
*/

/* Media Queries ============
 */

/* Positionnement du masque du header pour les écrans >= 1280px */
@media only screen and (min-width: 1280px) {

	/* 100% - 1280px = marges en %. (Marges /2) + 46px (centre du logo) = distance en % depuis la gauche (.mask est positionne a gauche) jusque le centre du logo */
	header .mask {width: calc(((100% - 1280px) / 2) + 46px)}

}

@media only screen and (max-width: 790px) {

	html .wrapper {width: 100%;margin: 0 0 0 0}
	html #map {min-height: 100%;height: 465px;overflow: hidden}
	html .content {margin-bottom: 0}
	html .push,
		html .footer,
		html .footer-inner {
			clear: both;
			height: auto;
			min-height: 1px
	}

	/* Augmente la hauteur de ligne pour un usage facilite avec les doigts sur mobiles */
	html .footer-inner p {line-height: 2em; font-size: large; hyphens: none}
	html small {font-size: 100%; word-wrap: break-word}

}

@media only screen and (max-width: 450px) {

	/* Temporaire */
	.top-menu{display:none}

	/* Changement de fixe en absolue pour le fond des fenetres modales */
	.modal-dialog{position: absolute}
	/* Position en haut des fenetres modales */
	.modal-dialog .modal {margin-top: 6em}
	/* Evite la compression des 'Message Boxes' */
	.modal-dialog.dialog .modal{overflow-y: scroll}

}

@media only screen and (max-height: 610px), handheld and (max-device-height: 799px), and (orientation: portrait) {

	/* Reduit le header et ses contenus pour les petits ecrans */
	html header,
		html header .mask,
		header .header-inner {height: 3em}
	html header .logo {
		width: 48px;
		height: 70px;
		background: url(../img/dispau_logo-mini.png) center center no-repeat
	}

	header .header-inner h1 {margin:.3em 0 0}

	/* Changement de fixe en absolue pour le fond des fenetres modales */
	.modal-dialog{
		position: absolute;
		width: 100%;
		height: 100vh;
		margin: 0 auto
	}
	/* Position et taille des fenetres modales */
	.modal-dialog .modal {
		margin-top: 6em;
		max-height: 60vh;
		min-height: 100px;
		min-height: 40vh
	}
	/* Restaure le scroll sur les modales pour très petits écrans */
	html .modal-dialog.dialog .modal {
		overflow-y: auto
	}
	html #block-cookies {
		width: 96%;
		height: 100%;
		padding: 0 2%
	}

}