@charset "UTF-8";

/**
 * Modèle web version "Responsive" pour DISPAU
 * Largeur maximale : 1280px centrée avec Google Map en fond et plein écran
 *
 * Version de développement ; en production, minifier ce fichier dans css/global.min.css avec http://www.minifier.org/
 * Attention : pour la version de production minifiée, tous les commentaires seront supprimés
 *
 * @date     30/04/2017
 * @revision 14/05/2017
 * @authors  Patrick ; ...
 *
 */

/* Importation/chargement des @font-face en premier pour optimisation */
@import url(font-awesome.min.css);
/* Ou chargement via CDN :
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
*/
/* Importation de Normalize v6.0.0 */
@import url(normalize.min.css);

/*!
 * ====== SOMMAIRE ======
 *
 * 0°.  Importations : @font-face et Normalize
 * 1°.  Micro resets & dimensions
 * 2°.  Helpers
 * 3°.  Typos
 * 4°.  Couleurs
 * 5°.  Layout
 * 6°.  Google Maps
 * 7°.  Menu général de navigation
 * 8°.  Système de Grilles
 * 9°.  Formulaires & fenêtres modales
 * 10°. Animations
 * 11°. WTF?
 * 12°. Media Queries & Supports
 *
 *
 * NB : il est fait profit du principe de cascade en CSS pour abolir la règle !important (veiller à maintenir cette précaution)
 *
 */

/*! 1°) Micro resets & dimensions
	=============== */

*, *::before, *::after {
	box-sizing: border-box;
}

html,
	body {
		height: 100%;
		margin: 0
}

.wrapper {
	/* la marge basse est la valeur négative correspondante à la hauteur du footer plus celles top & bottom des paddings de footer-inner */
	margin: 0 auto -100px
}

header,
	header .mask,
	/* Le logo deborde la barre du header */
	.header-inner {
			height: 5.7em
}

/* Largeur maximale des élements centres sur grands écrans (le reste, autour, demeure en pleine largeur [la Map]) */
.header-inner,
	.content,
	.footer-inner {
		/* Si changement, modifier @media only screen and (min-width: 1280px) en conséquence ! */
		max-width: 1280px
}

#map {
	/* Fallback */
	height: auto;
	min-height: 430px;
	min-height: 100%
}

.push,
	.footer {
	/* '.push' doit avoir la même hauteur que 'footer' */
	height: 100px
}

.footer-inner {
	/* Top & bottom padding en pixels à deduire de la hauteur voulue de footer-inner */
	height: 50px
}

/*! 2°) Helpers 
	================ */

[role=button], a,  button, input, label, select, textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation
}
/* Positionnements */
.fixed {position: fixed}
.static {position: static}
.relative {position: relative}
.absolute {position: absolute}
/* Flottements */
.left {float: left}
.right {float: right}
/* Clear both */
.clear{clear: both}
/* Cacher un élément */
.hidden {
	display: none;
	width: 0;
	margin: 0;
	padding: 0
}
/* Masquer du texte */
.indent {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	font-size: 0
}
/* Suppression de la selection à la souris */
.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.full,.c-1 { width: 100% }
.inblock{ display: inline-block }
/* Créer un système de marges et paddings au besoin 
.mt5 {margin-top: 5em}
*/
/* Positionner du texte */
.txt-center{text-align: center}
.txt-right{text-align: right}
/* Micro clearfix par Nicolas Gallagher */
.cf:before,
	.cf:after {
	content: " ";
	display: table
}
.cf:after {clear: both}
.cf {*zoom: 1}

/*! 3°) Typos 
	================ */

html,
	body {
		font: normal normal normal 100%/1 sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility
}

h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding: 0
}

p {
	line-height: 1.3;
	hyphens: auto
}

/*! A) Masque les icônes Fontawsome non encore chargées pour affichage du fallback */

html:not(.wf-active) .fa {display: none}

/*! Fallback textuel de Fontawsome */
.social em {
	margin: 0 .5em;
	font-style: normal;
	font-size: large
}

.fa + em{font-style: normal}

/* B) Google fonts chargees */

/* Masque les alternatives textuelles sur les icônes sociales */
.wf-active .social em,
	.wf-active .fa + em {display: none}

.wf-active h1,
	.wf-active h2,
	.wf-active h3 {
		margin: 0;
		font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

ul {line-height: 2}

.close {
	font: normal normal normal 1.3em/1.5em Arial,sans-serif
}

.modal-dialog,
	form {
	font-family: 'Roboto', Arial, Helvetica, sans-serif
}

.button {
	letter-spacing: 1px;
	font: normal bold normal 1em/26px 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.social .fa {
	font-size: 2em
}

/*! 4°) Couleurs

		Rouge :      #e6005c		rgb(230, 0, 92)
		Bleu :       #7ac9ed		rgb(122, 201, 237)
		Bleu vert :  #dff4f3		rgb(223, 244, 243)
		Bistre :     #95405a		rgb(149, 64, 90)
		Orange :     #ef6c00		rgb(239, 108, 0)
		Vert   :     #00897b		rgb(0, 137, 123)
		Blanc :      #ffffff		rgb(255, 255, 255)
		Noir :       #000000		rgb(0, 0, 0)
		Gris :		 #999999		rgb(161, 161, 161)
		Gris clair : #a1a1a1		rgb(153, 153, 153)	

	================ */

/* Selection de texte à la souris */
::-moz-selection {
	background: #e6005c;
	color: #fff;
	text-shadow: none
}

::selection {
	background: #e6005c;
	color: #fff;
	text-shadow: none
}

/* Placeholders des champs de formulaires */
::-webkit-input-placeholder {color: #e6005c}
::-moz-placeholder {color: #e6005c; opacity: 1}
:-ms-input-placeholder {color: #e6005c}
:-moz-placeholder {color: #e6005c}

.gris { color: #999 }

.main-header {
	/* Fallback */
	background: #7ac9ed;
	background: rgba(122, 201, 237, 0.7)
}

header .mask {background: #7ac9ed}

header h1 a {color: #e6005c}

#map {background: #fff /* #edf0f4 */}

.close {
	background: #eee;
	color: #d4d4d4
}

.close:hover,
	/* UX : pour la mise en valeur du bouton en réduction automatique */
	.highlight {
	background: #fff;
	color: #999;
	box-shadow: 0 0 10px rgba(0,0,0,.3)
}

.modal-dialog {
	/* Au choix : fond noir */
	background: rgba(0, 0, 0, 0.8);
	/* ...ou blanc */
	background: rgba(255,255,255,.5)
}

.modal-dialog .modal {
	background: #fff;
	/*
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
	*/
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 
				0 11px 15px -7px rgba(0, 0, 0, 0.12), 
				0 24px 38px 3px rgba(0, 0, 0, 0.2)
}

.footer-modal {
	background: #42a5f5 /*cornflowerblue*/;
/*
	box-shadow: 0 14px 35px rgba(0, 0, 0, 0.3);
*/
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
				0 3px 14px 2px rgba(0, 0, 0, 0.12),
				0 5px 15px 10px rgba(0, 0, 0, 0.1)
				/*
				0 5px 5px -3px rgba(0, 0, 0, 0.3)
				*/
}

.footer-modal a,
	.footer-inner a {color: #fff}

input:focus {border-bottom: 1px solid #333}

/* Valeurs de champs invalides */
input:required:focus:valid,
	input[pattern]:focus:valid {
		border-color: #b3f3a2;
		box-shadow: 0 0 1px #b3f3a2
}

input:required:focus:invalid,
	input[pattern]:focus:invalid {
		border-color: #f79c9c;
		box-shadow: 0 0 1px #f79c9c
}

select {
	/* Fallback */
	color: #000;
	color:rgba(0, 0, 0, 0.7);
	/* ou couleur DISPAU */
	color: #e6005c;
 /*
	background-color: #dff4f3
*/
}

/* Boutons inactifs (désactivés) */
html .inactive {
	background: #f0f0f0
}

footer {
	/* Fallback */
	background: #95405a;
	background: rgba(149, 64, 90, 0.85);
	color: #fff
}

.social .fa {color: #000; text-shadow: 0px 0px 1px #a1a1a1}

#block-cookies {background: #000}

#block-cookies a{color: #fff}



/*! 5°) Layout 
	================ */

.wrapper {
	min-height: 100%;
	/* Pour vieux navigateurs IE */
	height: auto !important;
	/* Pour navigateurs modernes */
	height: 100%
}

header {
	position: relative;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%
}

/* Bloc opaque du header sur partie gauche du logo */
header .mask {
	display: block;
	top: 0;
	left: 0;
	width: 3%;
	min-width: 46px
}

header .logo {
	width: 96px;
	height: 140px;
	background: url(../img/dispau_logo.png) center center no-repeat
}

header .header-inner h1 {margin: .85em 0 0}

header h1 a {text-decoration: none}

.header-inner {margin: 0 auto}

.content {
	position: relative;
	z-index: 1;
	width: 100%;
	/* Marge top négative pour positionnement sur le haut du header */
	margin: -5.7em auto 0;
	/* Marge sur le contenu central pour obtenir une hauteur identique à celle de Map et le footer conserve sa visibilite :
	valeur cherchee 2em soit 5em : [-3em (marge top) + 3em] = 0 + 2em 
	margin-bottom: 5em;
	*/
	/* width 90% + [5% x 2 (padding gauche & droit)] = 100% 
	padding: 2em 5% 0
	*/
}

.footer,
	.push {
		clear: both;
		position: relative;
		margin: 0
}

footer {z-index: 1}

.footer-inner {
	margin: 0 auto;
	padding: 20px 1em
}

/*! 6°) Google Maps
	============ */

#map {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%
/*
	No more needed, Dude!
	min-height: calc(100vh - 75px)
*/
}

/* Masque certains affichages propres à Google Map	*/
a[href^="https://maps.google.com/maps?"],
	a[href^="https://www.google.com/intl/fr_US/help/terms_maps.html"] {display: none!important}

/*! 7°) Menu navigation 
	================ */

.header-inner .top-menu label {
	display: none;
	position: relative;
	display: inline-block;
/*
	width: 4em;
*/
	margin: .43em 1.2em 0 0;
	padding: .9em .8em .9em 1.6em;
	background: #fff;
	text-align: center
}

#toggle-nav,
	.header-inner .top-menu label,
	i.visually-hidden {display:none}

/*
#toggle-nav {
	display: none;
	position: relative;
	margin: .6em .5em 0 0;
	padding: .4em .4em .5em 1.5em;
	vertical-align: middle;
	background: #fff;
	border: none;
	font-size: 1.1em;
	font-style: normal
}
*/

i.visually-hidden {padding:0 0 0 .4em;vertical-align:middle;font-style: normal}

.visually-hidden svg{
	position: absolute;
	top: .8em;
	left: .7em;
}

.top-menu {
	float: right;
	width: auto;
	min-width: 450px;
	max-width: 45em;
	margin: .5em 0 0 0
}

.top-menu ul {
	display: block;
	float: right;
	margin: .8em 0 0;
	padding: 0;
	list-style: none
}

.top-menu li {
	display: inline;
	float: left;
/*
	line-height: 2.9
*/
}

.top-menu a {
	display: block;
	min-width: 6em;
	margin: 0 .5em;
	padding: .1em .5em .3em;
	text-align: center;
	color: #333
}

.top-menu a:hover{background: #7ac9ed; color: #000}

/*! 8°) Système de grilles
		============ */

.full,
	.row {
		width: 100%;
		clear: both
}

.full,
	.row,
	[class^="c-"] {
		/* Pour vieux navigateurs : compense les problèmes de marges avec float */
		display: inline;
		float: left
}

.c-2 {
	zoom:1;
	width: 48%;
	/* 48% + 4% - 2% = 50% */
	margin: 0 -2% 0 0%;
	padding: 0 4% 0 0%
}

/* Seconde colonne */
.c-2:nth-child(2n+0) {padding-right: 0}

.c-3 {
	zoom:1;
	/* 31% compensé par les marges et padding au lieu de 33.33% pour un support Cross Browsers */ 
	width: 31%;
	margin: 0 -1%;
	padding: 0 2%
}

/* Première colonne */
.c-3:nth-child(3n+0) {margin-right: -1%}

.c-4 {
	zoom:1;
	width: 23%;
	margin: 0 -2%;
	padding: 0 3%
}

.c-5 {
	zoom:1;
	width: 18%;
	margin: 0 -1%;
	padding: 0 2%
}

/* Première colonne */
.c-5:nth-child(5n+1) {margin-left: -2%}


/*! 9°) Formulaires et fenêtres modales
		============ */


/* Icône de fermeture des modales */
.close {
	position: absolute;
	top: .2em;
	right: .5em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	text-decoration: none
}

/* Correction du centrage du Fallback sur boutons close */
.close em {
	display: inline-block;
	padding: 0 .1em 0 0
}

.close:focus {
	outline: none
}

/*! Fenêtres modales 
    ============ */

#info {
	position: absolute;
	z-index: 3;
	right: 3%;
	bottom: 80px;
	width: 19em;
	min-height: 400px;
	max-height: 28em;
	padding: 1em;
	background: #fff;
	background: rgba(255, 255, 255, 0.87);
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
}

/* Etat masqué de l'élément */
#info.masked {
	overflow: hidden;
	bottom: 0;
	height: 50px;
	min-height: 50px
}

/* Révélateur des modales */
.modal-dialog:target,
	/* Affiche tous les Messages d'alertes */
	.modal-dialog.msg {
		display: block;
		pointer-events: auto
}

.modal-dialog {
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	/* Au choix : fond noir */
	background: rgba(0, 0, 0, 0.8);
	/* ...ou blanc */
	background: rgba(255,255,255,.5);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	pointer-events: none
}

.modal-dialog:not('.msg') {
	-webkit-transition: all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	transition: all 400ms ease-in
}

.modal-dialog .modal {
	overflow-y: scroll;
	position: relative;
	max-width: 900px;
	min-width: 250px;
	width: 80%;
	max-height: 200px;
	/* Bizarrement, 80vh excède */
	max-height: 55vh;
	margin: 11% auto 0;
	margin: 15vh auto 0;
/* Pas de padding : à reserver pour un élement d'encapsulation interne 
	padding: 5px 20px 13px 20px;
*/
	border-radius: 2px 2px 0 0
}

.modal-dialog.tiny .modal,
	.modal-dialog.msg .modal {
		max-width: 400px
}

/* Aspect de message boxes */
.dialog .modal {overflow: hidden}

/* Aspect de modal boxes avec scrolling */
.dialog.overflow .modal {overflow-y: scroll}

/* Pas utile : la règle suivante est suffisante
.modal-dialog .close {display:none}
.modal-dialog.dialog .close,
.modal-dialog.overflow .close {
	display:block;
}
*/
/* Masquage du lien de fermeture sur toutes les modal boxes */
.modal-dialog .close {display: none}

/* Affichage du lien de fermeture sur tous les message boxes */
.modal-dialog.dialog .close {display:block}

.modal-dialog > div {
	position: relative;
/* Est-ce vraiment, mais vraiment nécessaire ?
	max-width: 900px;
	min-width: 250px;
/*
	width: 80%;
*/
	margin: 0 auto
}

.modal-dialog:not('.overflow') > div {
	/*
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
*/
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content
}

.modal-dialog .inner-dialog {
	/* Semble ne plus être nécessaire :D
	max-height: 100%;
	max-height: 100vh;
	height: 90%;
	*/
/*

	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
*/
	padding: 1em 20px 5px 20px
}

.footer-modal {
	direction: ltr;
	position: absolute;
	right: 0;
    bottom: -50px;
    left: 0;
    max-width: 910px;
    min-width: 250px;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    text-align: right;
    border-radius: 0 0 2px 2px
}

.footer-modal a {
	display: inline-table;
	padding: 1.1em 2em 1.1em;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	outline: none;
/* Ou ajouter la classe 'no-select' sur l'élement */
	-webkit-tap-highlight-color: transparent;
}

.footer-modal a:hover {background: rgba(0, 0, 0, 0.2)}

.modal-dialog.dialog .footer-modal {display: none}

/* Formulaires */

label {
	display: block;
	margin: 0 0 .5em;
	color: #a1a1a1;
	cursor: pointer
}

form {
	margin: 2em 0
}

input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="file"],
	textarea,
	select {
		width: 98%;
		margin: 0 0 .8em;
		padding: .1em 1% .3em;
		border: none;
		border-bottom: 1px solid #bbb;
		font-size: 1em;
		font-family: inherit;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none

}
/*
input[type="password"] {
	padding: .01em 1%;
	font-size: larger
}
*/
input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	select:focus{
		outline: none
}

.label-file {
	color: #00b1ca;
	font-weight: bold;
	cursor: pointer
}

.label-file:hover {color: #25a5c4}
.input-file {display: none}

select {
	min-width: 98% /* 101.5% */;
	background-image: url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-position: calc(100% - .5em) 50%;
	text-indent: 0.01px;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

/* correction pour certains navigateurs mobiles */
option:checked,
	option:hover {background: transparent}

input.password {
	float: left;
	width: 85%
}

input.password + button {
	float: right;
	width: 1.8em;
	background: none;
	border: none;
	line-height: 1.8;
	outline:none;
	-webkit-tap-highlight-color: transparent

}

/* Boutons */

.btn,
	.btn-large {
		background-color: #26a69a;
		color: #fff;
		text-decoration: none;
		text-align: center;
		letter-spacing: .5px;
		cursor: pointer;
		transition: .2s ease-out;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent
}

.btn,
	.btn-flat {
		display: inline-block;
		height: 26px;
		padding: 7.2px 24px 8.5px;
		padding: .45rem 1.5rem .55rem;
		vertical-align: middle;
		text-transform: uppercase;
		text-decoration: none;
		color: #333;
		outline: none;
		border: none;
		border-radius: 2px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
}

.btn-large {
	height: 54px;
	line-height: 54px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}

.button-orange {
	background: #ef6c00;
	color: #fff
}

.button-green {
	background: #00897b /* #00bfa5*/;
	color: #fff
}

button.button {
	display: table;
	height: auto;
	margin: 1em auto 1.5em;
	white-space: nowrap;
	cursor: pointer
}

.button-green.ripple-in:hover:before,
	.button-green.ripple-in:focus:before,
	.button-green.ripple-in:active:before {
	border-color: rgba(0, 137, 123, 0.5);
	-webkit-animation-name: ripple-in;
	animation-name: ripple-in
}

.button-orange.ripple-in:hover:before,
	.button-orange.ripple-in:focus:before,
	.button-orange.ripple-in:active:before {
		border-color: rgba(239, 108, 0, 0.5);
		-webkit-animation-name: ripple-in;
		animation-name: ripple-in
}

.btn-group {
	display: table;
	position: relative;
	margin: 0 auto
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}

.btn-group .button {
	display: table;
	text-transform: none;
	font-size: small
}

.btn-group .button:focus{outline: none}


.dropdown-btn {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 160px;
	margin: -1.5em 0 0 0;
	padding: 5px 5px 0 5px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	text-align: left;
	font-size: 14px;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.dropdown-btn li{border-bottom: 1px solid #eee}

.dropdown-btn li a {
	display: block;
	width: 100%;
}

.btn-group .active + ul {display: inline-table}

/* Cookies */

#block-cookies {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center
}

/* Responsive images */
img {
	display: block;
	width: 100%;
	height: auto;
	vertical-align: top;
	text-align: center
}

.social .fa {
	margin: 0 .5em 0 0;
	vertical-align: middle
}

/* Animations ============
 */

.modal-dialog {
	-webkit-transition:opacity 400ms ease-in;
	-moz-transition:opacity 400ms ease-in;
	transition:opacity 400ms ease-in
}

.ripple {
	position:relative;
	overflow:hidden;
	transform:translate3d(0,0,0)
}
.ripple:after {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	pointer-events:none;
	background-image:radial-gradient(circle,#000 10%,transparent 10.01%);
	background-repeat:no-repeat;
	background-position:50%;
	transform:scale(10,10);
	opacity:0;
	transition:transform .5s,opacity 1s
}
.ripple:active:after {
	transform:scale(0,0);
	opacity:.2;
	transition:0s
}

.squizz {
	-moz-transition: box-shadow 200ms ease-out, -moz-transform 200ms ease-out, opacity 200ms ease-in-out;
	-o-transition: box-shadow 200ms ease-out, -o-transform 200ms ease-out, opacity 200ms ease-in-out;
	-webkit-transition: box-shadow 200ms ease-out, -webkit-transform 200ms ease-out, opacity 200ms ease-in-out;
	transition: box-shadow 200ms ease-out, transform 200ms ease-out, opacity 200ms ease-in-out
}

.squizz:hover {
	/* Le "Fallback" est : icone grise sur fond blanc */
	color: rgba(255, 255, 255, 1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	background: rgba(230, 0, 92, 1)
}

@-webkit-keyframes ripple-in {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0
	}
}

@keyframes ripple-in {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0
	}
}

.ripple-in {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent
}

.ripple-in:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: transparent solid 6px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s
}
/*
.ripple:hover {transform: translate(-50%, -50%)}

.ripple:focus {
	transition: transform 0.3s cubic-bezier(.4, 0 , .2, 1),
	width 0.3s cubic-bezier(0, 0 , .2, 1),
	height 0.3s cubic-bezier(0, 0 , .2, 1),
	opacity 0.6s cubic-bezier(0, 0 , .2, 1);
}
*/

html .inactive {
	position: static;
	-webkit-transform: none;
	transform: none;
	/* cursor défaut ou...
	cursor: default;
	*/
	cursor: not-allowed
}

html .inactive:before{content: none}

html .inactive:hover:before {
	border: none;
	-webkit-animation-name: none;
	animation-name: none
}

/* Personnalisation des scrool bars sur moteur WebKit */

/*
.modal::-webkit-scrollbar { width: 6px; height: 3px}
/* bouton haut et bas 
.modal::-webkit-scrollbar-button {  background-color: #666}
.modal::-webkit-scrollbar-track {  background-color: #999}
/* Fond du scroll bar 
.modal::-webkit-scrollbar-track-piece { background-color: #fff}
/* La barre de defilement 
.modal::-webkit-scrollbar-thumb { height: 50px; background-color: #999; border-radius: 3px}
.modal::-webkit-scrollbar-corner { background-color: #999}
.modal::-webkit-resizer { background-color: #666}
*/

/* Version plus simple :
.modal::-webkit-scrollbar {
	background: lightyellow;
	width: 6px
}
.modal::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px
}
*/

.modal::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f5f5f5
}

.modal::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5
}

.modal::-webkit-scrollbar-thumb {
	background-color: #999;
	border: 1px solid #777
}

/* Media Queries & Supports 
	============ */

/* Supports */
@supports (flex-wrap: wrap) {

	.flex,
		.row {display: flex}

	.c-1,
		.c-2,
		.c-3,
		.c-4,
		.c-5 {
			width: auto;
			margin: 0;
			padding: 0 1%
	}

	.c-1 {flex: 1}

	.c-2 {flex: 2}

	.c-3 {flex: 3}

	.c-4 {flex: 4}

	.c-5 {flex: 5}

	.c-2:nth-child(0n+1),
		.c-3:nth-child(0n+3),
		.c-4:nth-child(0n+0),
		.c-5:nth-child(5n+1) {padding-left: 0}

	.c-5:nth-child(5n+1) {margin-left: 0}

	html input.password {width: 100%}

	html #eye {
		float: none;
		width: auto;
		margin-top: -1em;
		padding: 0;
		background: none;
		border: 0;
		font-size: large
	}

}

/* Positionnement du masque du header pour les écrans >= 1280px */
@media only screen and (min-width: 1280px) {

	/* 100% - 1280px = marges en %. (Marges /2) + 46px (centre du logo) = distance en % depuis la gauche (.mask est positionne a gauche) jusque le centre du logo */
	header .mask {width: calc(((100% - 1280px) / 2) + 46px)}

	.top-menu li {line-height: 2.9}

	/* Corrige la taille de Normalizer */
	small {font-size: 85%}

}

@media only screen and (max-width: 790px) {

	html .wrapper {width: 100%;margin: 0 0 0 0}

	html #map {min-height: 100%;height: 465px;overflow: hidden}

	

	html .content {margin-bottom: 0}

	/* Certaines grilles réinitialisées à 100% */
	html .c-3,
		html .c-4 {width: 100%}

	/* Restaure le scroll sur les modales pour très petits écrans */
	html .modal-dialog.dialog .modal {
		overflow-y: scroll
	}

	#info {bottom: 40px; width: 83%}

	html .push,
		html .footer,
		html .footer-inner {
			clear: both;
			height: auto;
			min-height: 1px
	}

	/* Augmente la hauteur de ligne pour un usage facilité avec les doigts sur mobiles */
	html .footer-inner p {line-height: 2em; font-size: large; hyphens: none}

	html small {font-size: 100%; word-wrap: break-word}

	/* Réduction de la taille de polices des placeholders */
	::-webkit-input-placeholder,select {font-size: small}
	::-moz-placeholder {font-size: small}
	::-ms-input-placeholder {font-size: small}
	::-moz-placeholder {font-size: small}

}

@media only screen and (max-width: 450px) {


	/* Temporaire */
	.top-menu {min-width:auto;max-width:auto}
	.top-menu ul {display:none}

	/* Système de grilles réinitialisé à 100% pour petits écrans */
	html .row {display: block}
	html [class^="c-"] {width: 100%}

	/* Changement de fixe en absolue pour le fond des fenêtres modales */
	.modal-dialog {position: absolute}
	/* Position en haut des fenêtres modales */
	.modal-dialog .modal {margin-top: 6em}
	/* Evite la compression des 'Message Boxes' */
	.modal-dialog.dialog .modal {overflow-y: scroll}

}

@media only screen and (max-height: 610px), and (max-device-height: 799px), and (orientation: portrait) {

	/* Reduit le header et ses contenus pour les petits écrans */
	html header,
		html header .mask,
		header .header-inner {height: 3em}

	html header .logo {
		width: 48px;
		height: 70px;
		background: url(../img/dispau_logo-mini.png) center center no-repeat
	}

	header .header-inner h1 {margin:.3em 0 0}

	html .top-menu {
		height: 3em;
		margin: -.4em 0 0 0
	}

	/* Changement de fixe en absolue pour le fond des fenêtres modales */
	.modal-dialog{
		position: absolute;
		width: 100%;
		height: 110vh;
		margin: 0 auto;
		overflow: hidden
	}
	/* Position et taille des fenêtres modales */
	.modal-dialog .modal {
		margin-top: 6em;
		max-height: 60vh;
		min-height: 100px;
		min-height: 40vh;

		max-height: 40vh;

		max-device-height: 60vh;
		min-device-height: 100px;
		min-device-height: 40vh
	}

	.modal h1,
		.modal h2,
		.modal h3{padding-right: 1em}

	html #block-cookies {
		/*
		width: 96%;
		*/
		padding: 0 2%
	}

}

@media only screen and (max-width: 710px) {


	.header-inner .top-menu label,
	i.visually-hidden {display: inline-block}

	#toggle-nav:checked ~ ul {
		display: block;
		overflow-y: scroll;
		position: absolute;
		top: 2.2em;
		left: 0;
		width: 100%;
		height: 90vh;
		background: #fff;
/*
pointer-events: none;
*/
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden
	}

	.top-menu li {
		display: inline-block;
		float: left;
		width: 100%;
		line-height: 2.9
	}

	.top-menu li:checked ~ ul{display:none}

	html .top-menu {width: auto; min-width: auto; max-width: auto}

	

}

/*! From Twitter Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-device-width: 576px) {



	/* Corrige le positionnement sur petits écrans */
	#info {
		bottom: 0;
		width: 85%;
		max-width: 350px;
		max-height: 85vh;
		min-height: 85vh;
		overflow-y: scroll
	}


}

/* Medium devices (tablets, 768px and up) */
@media (max-device-width: 768px) {

	#info{bottom:0;overflow-y:scroll;max-height:85vh;min-height:85vh}

}

/* Large devices (desktops, 992px and up) */
@media (max-device-width: 992px) {



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	
	
}


/*! iPad toutes générations en mode portrait et paysage */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {


}

/*! iPad toutes générations mode paysage */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) {


}

/*! iPad toutes générations mode portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {


}

/*! End of file. Pat was here */
